body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  }
  hr{
    width: 100%;
  }
  
  #list li{
      color:red;
      padding-left: 15px;
      margin-left: 15px;
      
  }
  #left{
    background-color: #e7e9eb;
  }
  .dropdown-menu {
    background-color: #e7e9eb;
  }
  .dropdown-menu :hover{
    color:white;
    background-color:#04a96d;
  }
  
  #top1 .dropdown-menu {
    background-color: white;
  }
  #top1 .dropdown-menu li :hover{
    background-color:#04a96d;
    color:white;
  }
  a{
    color:black;
  }
  #top2{
    background-color: #343a40;
  }
  #top1 #login{
    border-radius: 10%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 15px;
  }
  #searchicon{
    font-size: 1.4rem;
    background-color: #343a40;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 7px;
    margin-right: 15px;
  }
  #list{
    border: solid black 1px;
    width:100%;
  }
  .navbar{
    margin:0;
    border:0;
  }
  
  .btn-primary{
    background-color:  #04AA6D;
    border-radius: 5px;
    
  }
  
  .w3-example {
    background-color: #e7e9eb;
    border:none;
    padding:15px;
    border-radius:5px;
  
  }
  #w3e1{
    border-left: 4px solid #4CAF50;
    background-color: white;
    
    border: solid black 1px,solid black 1px,solid black 1px,0;
    padding:15px 30px ;
    border-left-color:solid 5px green;
  }
  
  
  .fa-search{
    color:whitesmoke;
    justify-content: flex-end;
  }

   #r1{
    float:right;
    padding-right: 64%;
  }
  #r2{
    float:right;
    padding-right:45%;
    
    
  }
  iframe{
    float:left
  }
 

  .navbar-nav mr-auto a:hover{
         
    background-color: green;
    border: 2px solid green;
    padding:5px;



   }